{% extends 'layout.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}

    <div class="owl-stage-outer">
        {% for formation in formations %}
        <div class="owl-item active" style="width: 208px; margin-right: 10px;"><div class="item" data-product="">

                <article class="product">

                    <a href="product.html" data-url="">
                        <img src="{{ asset('uploads/formations/'~formation.image) }}" class="img-fluid" data-img="">
                    </a>

                    <h3>
                        <a href="product.html" data-product-url="" data-name="" data-url="">{{ formation.designation }}</a>
                    </h3>

                    <span class="description" data-product-description="">
							{{ formation.description }}
						</span>

                    <div class="price-group">
                        <div class="old-price">
                            <span class="currency" data-product-currency="">$</span> <span data-product-price="">385</span>
                        </div>

                        <div class="price">
                            <span class="currency" data-product-currency="">$</span> <span data-product-price="">315</span>
                        </div>
                    </div>



                    <div class="btngroup">
                        <a type="button" class="btn btn-sm btn-secondary" title="Add to Cart" href="{{ path('formation.details',{'id': formation.id}) }}" data-product-cart-url="" data-vvveb-action="addCart" data-product_id="40">
                            <i class="la la-arrows"></i> Plus de détails
                        </a>

                        <button type="button" class="btn btn-sm  btn-link" title="Add to favorites" data-product-fav-url="">
                            <i class="la la-heart"></i>
                        </button>

{#                        <button type="button" class="btn btn-sm  btn-link" title="Add to compare" data-product-compare-url="">#}
{#                            <i class="la la-exchange"></i>#}
{#                        </button>#}
                    </div>


                </article><!-- product -->

            </div></div>
        {% endfor %}
    </div>

{% endblock %}
